<a href="https://colab.research.google.com/github/ds8600/oz_Python_colab/blob/main/Ch21_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

안녕하세요. 수강생 여러분~! Chapter21 ~ 32 수업은 잘 들으셨나요?

Chapter21 ~ 32의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.


<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

[문제 1]
사용자로부터 이름과 나이를 입력 받아, "안녕하세요, [이름]님! 당신은 [나이]살입니다."라고 출력하는 함수 greet_user를 작성하세요.

In [16]:
def greet_user():
    A = input("이름과 나이를 순서대로 ,를 사용해 입력해주세요.").split(",")
    이름 =A[0]
    나이 =A[1]
    print(f"안녕하세요,{이름}님! 당신은{나이}살입니다.")
greet_user()

이름과 나이를 순서대로 ,를 사용해 입력해주세요.동엽, 29
안녕하세요,동엽님! 당신은 29살입니다.

---

[문제 2] 여러 숫자를 입력받아 그 합계를 반환하는 함수 sum_numbers를 작성하세요. 이 때, 가변 매개변수를 사용하세요.

In [37]:
def sum_nubers(*num):
    num = map(int,input("더하실 숫자를 콤마로 구분하여 작성해 주세요").split(","))
    return sum(num)
sum_nubers()

더하실 숫자를 콤마로 구분하여 작성해 주세요10,20,30

60

---

[문제 3] 사용자의 이름을 출력하는 함수 print_name을 작성하세요. 만약 이름이 주어지지 않았다면, 기본값으로 "익명"을 사용하세요.

In [53]:
def print_name(name="익명"):
    이름 = input("사용자의 이름을 입력하세요")
    if 이름 != "":
        name = 이름
    print(name)
print_name()

사용자의 이름을 입력하세요
익명

---

[문제 4] 사용자의 이름, 나이, 성별을 출력하는 함수 print_info를 작성하세요. 이 때, 모든 매개변수는 키워드 매개변수로만 받도록 하세요.

In [63]:
def print_info(name="이름", age="나이", gender="성별"):
    print(f"{name},{age},{gender}")
print_info(name="동엽",age="29",gender="남자")
print_info()

동엽,29,남자
이름,나이,성별

---

[문제 5] 두 개의 정수를 받아 합을 반환하는 함수 add를 작성하세요. 매개변수와 반환값에 타입 어노테이션을 추가하세요.

In [146]:
def add(x:int, y:int):
    return x + y
add(2,3)

5

---

[문제 6] 0부터 시작하여 n까지의 숫자 중에서 홀수만 생성하는 제너레이터 odd_numbers를 작성하세요.

In [145]:
def odd_numbers(k):
    for k in range(k+1):
        if k%2 != 0:
            yield k

next_check = odd_numbers(10)
print(next(next_check))
print(next(next_check))
print(next(next_check))
print(next(next_check))
print(next(next_check))

1
3
5
7
9

---

[문제 7] 두 숫자를 더하는 람다 함수를 작성하고, 이를 변수에 할당한 후 사용하세요.

In [117]:
SUM = lambda o,p : o+p
SUM(2,3)

5

---

[문제 8] 사용자로부터 3개의 숫자를 입력받아, 이를 튜플로 만든 후 최소값과 최대값을 출력하는 함수 min_max를 작성하세요.

In [111]:
T = tuple(input("3가지의 숫자를 ,를 사용하여 넣어주세요").split(","))
T = (int(T[0]), int(T[1]), int(T[2]))
def min_max():
    if T[0] >= T[1]:
        if T[0] >= T[2]:
            max = T[0]
        else:
            max = T[2]
    else:
        if T[1] >= T[2]:
            max = T[1]
        else:
            max = T[2]

    if T[0] <= T[1]:
        if T[0] <= T[2]:
            min = T[0]
        else:
            min = T[2]
    else:
        if T[1] <= T[2]:
            min = T[1]
        else:
            min = T[2]
    print("최소값:", min)
    print("최대값:", max)
min_max()

3가지의 숫자를 ,를 사용하여 넣어주세요10,10,10
최소값: 10
최대값: 10

---

[문제 9] 주어진 숫자가 짝수인지 확인하는 함수 is_even을 작성하세요. 짝수라면 True를, 아니라면 False를 반환하세요. 함수 내에서 조기 리턴을 활용하세요.

In [93]:
def is_even(E):
    if E%2 == 0:
        return True
    return False
#is_even()

---

[문제 10] 팩토리얼을 계산하는 재귀 함수 factorial을 작성하세요.

In [88]:
def factorial(q):
    if q == 0:
        return 1
    else:
        return q * factorial(q-1)

factorial(6)

720

---

[문제 11] 문자열 리스트를 받아, 각 문자열의 길이를 출력하는 함수 print_lengths를 작성하세요.

In [75]:
def print_lengths(L:str):
    print(len(L))
print_lengths(L="오즈코딩스쿨")

6

---

[문제 12] 두 문자열을 받아서 긴 문자열을 반환하는 함수 longer_string을 작성하세요. 만약 두 문자열의 길이가 같다면, 첫 번째 문자열을 반환하세요.

In [114]:
def longer_string(B:str,S:str):
    if len(B) >= len(S):
        return B
    else:
        return S

'banana'