<a href="https://colab.research.google.com/github/ds8600/oz_Python_colab/blob/main/chapter10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###list

* list란? 원소들이 연속적으로 자징되는 형태의 자료형을 말합니다.
* 시퀀스 자료형!!
    * str(정복), list(정복 예정), tuple, dict, set
* 만드는 방법은 쉬워 대괄호로 묶어주고, 값들은 콤마로 구분합니다.

In [ ]:
# 첫 리스트 두근두근

리스트 = []
print(리스트)

리스트 = [23, "이게 리스트다", 3.23, True, False]
print(리스트)

[]
[23, '이게 리스트다', 3.23, True, False]

In [4]:
# 리스트 다시 한번 선언해 보자
리스트 = ["이", "렇", "게", "만", "들", "어", "요"]
리스트
리스트2 = list()
리스트2

#range? 연속된 숫자를 생산하는 기능이 있음
range(10)

#list(range(시작,끝))
리스트_매직_들어간다 = list(range(0,20))
리스트_매직_들어간다

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [13]:
#list(range(시작,끝,쯩가))
리스트_매직2 = list(range(0,20,2))
print(리스트_매직2)

리스트_매직3 = list(range(20,0,-1))
print(리스트_매직3)

리스트_매직4 = list(range(20,0))
print(리스트_매직4)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[]

In [18]:
# 끝나지 않는 리스트 매직
# 리스트를 이용해 변수에 값 넣기

a, b, c = ["들", "어", "가"]
print(a, b, c)

d, e, f = [7, 7, 8]
print(7, 7, 8)

지갑 = [10000, 5000, 1000]
만원, 오천원, 천원 = 지갑
print(f"{만원}2장, {오천원} 3장, {천원} 1장")

들 어 가
7 7 8
100002장, 5000 3장, 1000 1장

In [21]:
# 리스트 패킹, 리스트 언패킹
input().split()

기억? 나요?

['기억?', '나요?']

In [52]:
# 슬라이싱

로또 = [3,5, 15, 33, 41, 44]
#로또 변수에 있는 리스트의 인데스 1번부터  2번까지
print(로또[1:3])

#로또 변수의 마지막 위치 출력해줘
print(로또[-1])

#반대로

print(로또[7::-1])
print(로또[::-1])

#로또 리스트안에 33이 있는지
print(33 in 로또)

#로또 리스트를 로또2 리스트와 합쳐보세요
로또2 = [2,12,15,24,33,39]

print(로또+로또2)

#range를 이용해서 1부터 10사이에 짝수만 들어있는 짝수(변수명) 리스트를 만들어 주세요
짝수_리스트 = list(range(2,12,2))
print(짝수_리스트)

#짝수 리스트에 들어있는 값을 2배늘리고 다시 변수애 담아줘
짝수_리스트 = 짝수_리스트 * 2
print(짝수_리스트)

#짝수 리스트에 들어있는 요소의 개수를 구해주세요.
print(len(짝수_리스트))

#짝수 리스트에 3번째 인덱스를 출력해주세요
print(짝수_리스트[3])

#len()함수를 이용해 인덱스 마지막 값을출력해 주세요.
print(짝수_리스트[len(짝수_리스트)-1])

[5, 15]
44
[44, 41, 33, 15, 5, 3]
[44, 41, 33, 15, 5, 3]
True
[3, 5, 15, 33, 41, 44, 2, 12, 15, 24, 33, 39]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10, 2, 4, 6, 8, 10]
10
8
10

In [67]:
# list 값 넣고, 바꾸고, 지우고

mzfood = ["숙주", "분모자", "마라", "소세지", "소고기", "옥수수면"]

# 값을 넣는 방법 2가지 : append(): 마지막 요소에 값을 넣어, insert() : 원하는 곳에 값을 넣어요
mzfood.append("고수")
print(mzfood)

mzfood.insert(0, "건두부")
print(mzfood)

#값 지우고
del mzfood[-1]
print(mzfood)

del mzfood[0]
print(mzfood)

#값 바꾸고
mzfood[-2] = "양고기"
print(mzfood)

# 문자열 시퀀스 아니냐 그럼 저거다 될듯
#인사 = "반가워"
#인사[2] = "웡"

['숙주', '분모자', '마라', '소세지', '소고기', '옥수수면', '고수']
['건두부', '숙주', '분모자', '마라', '소세지', '소고기', '옥수수면', '고수']
['건두부', '숙주', '분모자', '마라', '소세지', '소고기', '옥수수면']
['숙주', '분모자', '마라', '소세지', '소고기', '옥수수면']
['숙주', '분모자', '마라', '소세지', '양고기', '옥수수면']

In [64]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [73]:
# reverse 왜 print문을 쓰면 none이 나올까?
print(mzfood)
print(mzfood.reverse())
print(mzfood.sort())

['마라', '분모자', '소세지', '숙주', '양고기', '옥수수면']
None
None

In [79]:
# 리스트 까도까도 나오네?
# 2차원 리스트에 대해서도 공부는 필수 !!!!!

양파같은 = [[2,0], [3,1]]
양파같은

양파같은[0]
양파같은[1]
#3을 출력해줘
양파같은[1][0]

양파같은.append([4,1])
양파같은

[[2, 0], [3, 1], [4, 1]]