<a href="https://colab.research.google.com/github/ds8600/oz_Python_colab/blob/main/chapter17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def 양파():
    print("양파를 2개 수확했습니다.")
def 대파():
    print("대파를 수확했습니다.")

# 함수 호출하기
양파()
대파()

양파를 2개 수확했습니다.
대파를 수확했습니다.

In [ ]:
def 수학():
    print("올해 비가 많이 내렸습니다.")
    print("농작물 수확량이 현저히 줄었습니다.")

수학()

올해 비가 많이 내렸습니다.
농작물 수확량이 현저히 줄었습니다.

In [ ]:
def function(x,y):
    z = x + y
    return z
    print("진짠가요?")

# A등급 10마리, B등급 9마리
print("옥수수와 수박의 수확량 :" , function(10,2))

옥수수와 수박의 수확량 : 12

In [ ]:
def 수확():
    print("고라니 2마리를 잡았습니다.")
수확()

고라니 2마리를 잡았습니다.

In [ ]:
def function(x,y):
    z = x + y
    print(z)

# A등급 10마리, B등급 9마리
print("옥수수와 수박의 수확량 :" , function(10,2))

12
옥수수와 수박의 수확량 : None

In [ ]:
def 계산(가격, 개수):
    return 가격 * 개수
print(계산(1000, 5), "원입니다")

5000 원입니다

In [ ]:
def 계산2(a, b, c):
    합계 = a*1000 + b*500 + c*100
    return 합계
print(계산2(5,2,3), "원입니다.")

6300 원입니다.

In [ ]:
a = 100
def f():
    global a
    a = a+1
    return a
f()

101

In [8]:
won = {"A등급":1000, "B등급":500, "C등급":100}

def 계산2(a, b, c):
    합계 = won["A등급"]*a +won["B등급"]*b+won["C등급"]*c
    return 합계
print(계산2(5,2,3), "원입니다.")

#전역변수는 바로가져와서 수정하지 못하나 dict 타입은 가능하다.

6300 원입니다.

In [10]:
#상수

PI =3.14
def circle(r,반지름):
    z = r*r*반지름
    return z

result = circle(10,PI)
print(result)

314.0

In [11]:
A = 0
B = 0
C = 0
유물 = 0

def 감자():
    global A
    A +=1

def 양파():
    global A, B, C
    A += 3
    B += 3
    C += 4

def 옥수수():
    global 유물
    유물 += 1

감자()
양파()
옥수수()

합계 = A + B + C + 유물
print("오늘 수확한 수확물 :", 합계)

오늘 수확한 수확물 : 12

In [ ]:
# 지역변수와 전역변수 공부해보세요.

def 함수이름()
    코드
    def 함수이름2()
        코드

In [12]:
def print_text():
    text = "수확의 기쁨"
    def txt():
       print(text)
    txt()
print_text()

수확의 기쁨

In [18]:
def 수확철():
    야채 = {"A등급":0, "B등급":0, "C등급":0}

    def 양파():
        야채["A등급"] += 1

    def 대파():
        야채["A등급"] += 3
        야채["B등급"] += 3
        야채["C등급"] += 4

    def 쪽파():
        야채["금"] = 1

    양파()
    대파()
    쪽파()

    return 야채

수확철()
sum(수확철().values())

12