<a href="https://colab.research.google.com/github/ds8600/oz_Python_colab/blob/main/chapter5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##사칙연산
더하기 : +

빼기 : -

곱하기 : *

나누기 :
*   / : 우리가 알고 있는 나누기와 동일한 기능 (예 5/2 = 2.5)
*   // : 몫을 반환 (예 5/2 = 2)
*   % : 나머지를 반환 (예 5/2 = 1)

거듭제곱 : **

In [ ]:
#더하기
print(3+2)

5

In [ ]:
#빼기
print(3-1)

2

In [ ]:
#곱하기
print(3*2)

6

In [ ]:
#나누기 /
print(7/2)

#나누기 //
print(7//2)

#나누기 %
print(7%2)

3.5
3
1

내장함수 : divmod

> 내장함수 : 자주 사용하는 기능을 미리 만들어 놓은것을 내장함수라고 함

**divmod**: 목과 나머지를 동시에 구해줌

In [ ]:
print(divmod(3,2))
print(divmod(7,4))
print(divmod(13,2))
print(divmod(19,4))
print(divmod(15,5))

print(7//4, "," , 7%4)

(1, 1)
(1, 3)
(6, 1)
(4, 3)
(3, 0)
1 , 3

### 괄호

수학에서 사용되는 괄호와 동일한 기능

() : 괄호안에 있는 것을 먼저 계산

사칙연산 순서 : 괄호 -> 곱셈, 나눗셈-> 덧셈, 뺄셈

In [1]:
# 아아 : 5000원 / 아샷추 : 6500원
# 아아 2잔 / 아샷추 3잔

(500*2)+(6500*3)

20500

In [2]:
# 미안한데 그때 아아 2잔이랑 아샷추 3잔 결제한 금액이 얼마였지?
(500*2)+(6500*3)

20500

계산된 결과값이 다 날아가는 문제.... 어떻게 해결?

### 변수란? (기본중에 기본, 근본중에 근본, 코어중에 코어.....)
하나의 값을 저장할 수 있는 공간
- 숫 자
- 문 자

하나의 변수에 하나의 값을 넣을때
변수이름 = 값
2개의 변수에 하나의 값을 각각 넣을때
변수이름1, 변수이름2 = 값1, 값2

In [7]:
# 하나의 값을 변수에 넣을 때
num = 1
print(num)

# 두개의 값을 변수에 넣을 때
num_1, num_2 = 1, 2
print(num_1)
print(num_2)

print(num_1, num_2)

1
1
2
1 2

1부터 5까지의 숫자를 더하는 문제를 풀어보겠습니다. 단, 다음 숫자를 더하기 위해서 매번 새로운 줄에서 시작해야하는 조건이 있습니다.

In [9]:
# 변수를 사용하지 않을 때
# 이전에 계산된 결과를 저장할 수 있는 방법이 없음
1 + 2
1 + 2 + 3
1 + 2 + 3 + 4
1 + 2 + 3 + 4 + 5

15

In [10]:
# 변수를 사용할 때
# 이전에 계산된 결과를 저장해서 사용할 수 있음

sum = 1 + 2
sum = sum +3
sum = sum +4
sum = sum +5

print(sum)

15

### 변수에 값을 넣는 것 => 할당

sum = 1 + 2 => 1+2의 계산된 결과를 sum이라는 변수에 할당한다.  

sum 변수명이고 '=' 같다는 의미가 아니라 할당(assignment)이라고 합니다.  
'=' : 할당 연산자  
'+' : 산술 연산자  
+= 산술 후 바로 할당하는 문법  
/=, -=, *= 모두 가능합니다.

In [15]:
# 변수를 사용하면서 사용 가능한 문법

sum = 1 + 2
sum = + sum + 3
sum = + sum + 4
sum = + sum + 5

print(sum)

sum2 = 1+ 2
sum2 += 3
sum2 += 4
sum2 += 5

print(sum2)

15
15

In [23]:
# 주의 !! 선언되지 않은 변수를 사용할 경우 에러 발생

sum3 = 0
sum3 += 1

sum3

1

In [26]:
# 변수에 어떤값도 넣고 싶지 않고 선언하는 방법

nothing = None
print(nothing)

None

In [27]:
#대소뮨저룰 규뷴허눈 변수
BIG = "크다"
big = "작다"

print(BIG, big)

크다 작다

스네이크케이스(snake case)
변수명 : snake_case _ <=뱜인가요?

카멜케이스(camel case)
변수명 : camelCase <= 낙타가 보이시나요?

In [29]:
# 우리는 변수를 만들때 스테이크케이스로 진행합니다. 그리고 언더바는 2개를 적용시켜주세요
# 개발에 관련된 여러 조건을 명시하는 것들을 코드 컨벤션이라고 합니다.

box_shose ="스니커즈"
box_hat = "슈프림 모자"

print(box_shose)
print(box_hat)

스니커즈
슈프림 모자

In [31]:
#print() 포메팅 3가지 f-string : print(f'{변수명}')

me = "파머"
print(f'(me)만 빼고 고양이 다있어')

(me)만 빼고 고양이 다있어

In [40]:
# 붕어빵 철이 돌아왔죠
# 붕어빵(팥) : 2000원, 붕어빵(슈크림) : 2500원, 붕어빵(잡채) : 3000원
# 무인 주문기계를 만들어주세요
# 붕어빵(잡채) 3개, 붕어빵(슈크림 2개를 주문하면
# "주문이 완료되었습니다. 븡어빵(슈크림) 2개, 붕어빵(잡채) 3개 총 5개 결제 금액은 14000원입니다"
# 이 출력되도록 코드를 작성해주세요.
# 변수를 만들때 스네이크 케이스에 언더바는 2개 / print()문의 포메팅 f_string

# 변수지정
bread_p = 2000
bread_s = 2500
bread_j = 3000
# 주문
order_s = 2
order_j = 3
# 계산
total_count = order_s + order_j
total_money = (order_s * bread_s) + (order_j * bread_j)

print(f"주문이 완료되었습니다. 붕어빵(슈크림) {order_s}개, 붕어빵(잡채) {order_j}개 총 {total_count}개 결제 금액은 {total_money}원입니다.")

주문이 완료되었습니다. 붕어빵(슈크림) 2개, 붕어빵(잡채) 3개 총 5개 결제 금액은 14000원입니다.